@import 'todo-list';
@import 'search-form';
@import 'alerts';
@import 'statistics';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

html {
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-style: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1.5;
  overflow-y: auto;
}

a {
  color: #337ab7;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

h2 {
  margin-top: 30px;
  font-weight: 300;
  margin-left: 10px;
  margin-bottom: 20px;
  line-height: 24px;
}

h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h5 {
  font-size: 14;
  font-weight: 500;
}

ul, ol {
  margin-bottom: 0;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: inherit;
  color: #212121;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
}

.main-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-top: 25px;
}