.search-block {
    display: flex;
    justify-content: space-between;
}

.search-block > .search-input {
    padding: 5px;
    border-color: #d0cdcd;
}

.search-block > .search-input:focus-visible {
    padding: 5px;
    border-color: orange;
}

.search-block > .search-btn {
    width: 4em;
    background: orange;
    border: none;
    border-radius: 6px;
}